name: Android CI

on:
  push:
    branches:
      - master
    tags:
      # Matches all the tags in the format major.minor.patch (e.g. 1.12.3).
      - "[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master

env:
  REPO_SECRET: ${{ secrets.REPOSITORY_SECRET }}
  EXAMPLE: Foo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew help -s
  second:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Build with Gradle 2
        run: ./gradlew help -s
#  build:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Just print info
#        run: echo "$REPO_SECRET $EXAMPLE";
#  deploy:
#    runs-on: ubuntu-latest
#    if: startsWith(github.ref, 'refs/tags')
#    needs: build
#    steps:
#      - name: Extract tag
#        id: tag-extractor
#        run: echo ::set-output name=TAG::${GITHUB_REF#refs/*/}
#      - name: Deploy
#        run: echo "Deploy ${{ steps.tag-extractor.outputs.TAG }}"

